extends app.pug

block intro
	h1.namecard-prompt Select a category
	form(action='/category', method='post')
		.categoryWrapper
			.catText
				input#cat1(type='radio', name='cat', value='sports')
				label(for='cat1') Sports
			.catText
				input#cat2(type='radio', name='cat', value='music')
				label(for='cat2') Music
			.catText
				input#cat3(type='radio', name='cat', value='videogames')
				label(for='cat3') Videogames
			.catText
				input#cat(type='radio', name='cat', value='movies')
				label(for='cat4') Movies
			.catText
				input#cat(type='radio', name='cat', value='history')
				label(for='cat5') History
		.getStarted
			h1.namecard-prompt Let's get started
			button.namecard-submit.cat-submit(type='submit') Begin!
	//- h1.namecard-prompt Let's get started
	//- a.namecard-submit(href='/cards') Begin!
	script(src='/static/js/category.js')